language: java
sudo: false
install: true
addons:
  sonarcloud:
    organization: riis
    token: 35543d9f77ff3d4074f9b060b06136da7aed7dc9
jdk:
  - oraclejdk8
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
